<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        {% load static %} 
        <link rel="stylesheet" href="{% static 'Messages.css' %}">
    </head>
    <body>
        <section class="nav-bar">
            <div class="logo"></div>
            <ul class="menu">
                <li><a href="homepage.html">home</a></li>
                <li><a href="#">tours</a></li>
                <li><a href="Messages.html">Messages</a></li>
                <li><a href="#">package</a></li>
                <li><a href="#">blog</a></li>
                <!--li><a href="#">about us</a></li>
                <li><a href="#">contact us</a></li-->
            </ul>
            </div>

        </section>
    </body>
</html>