<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'search.css' %}">
</head>
<body>
     <!--===========Nav Bar=================-->
     <section class="nav-bar">
        <div class="logo"></div>
        <ul class="menu">
            <li><a href="homepage.html">home</a></li>
            <!--li><a href="#">tours</a></li-->
            <div class="dropdown">
                <button class="dropbtn">BOOKING
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="drop contains">
                    <a href="hotels.html">Hotels</a>
                    <a href="trains.html">Trains</a>
                    <a href="flight.html">Flights</a>
                </div>
            </div>
            <li><a href="Messages.html">Messages</a></li>
            <li><a href="package.html">package</a></li>
            <li><a href="blog.html">blog</a></li>
            <!--li><a href="#">contact us</a></li-->
        </ul>
    </section>
    <h1>Search Results</h1>
    <ul>
        {% for tour in tours %}
            <li>
                <strong>{{ tour.destination }}</strong> - {{ tour.date_available }}<br>
                {{ tour.description }}
            </li>
        {% empty %}
            <p>No tours found matching your criteria.</p>
        {% endfor %}
    </ul>
</body>
</html>

